@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.divHome {
    margin-left: 9%;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    flex-basis: 65%;
    font-family: "Nunito sans";
    cursor: pointer;
    width: 65%;
}
.divHome3{
    width: 30%;
}
.pageHome{
    width: 100%;
}
.homeDivP {
    position: relative;
    width: 270px;
    transition: transform 0.3s ease;
}

.homeImg {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: -1;
    height: auto;
}

.homeDiv1 {
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    bottom: 0;
    width: 250px;
    padding: 15px 10px 50px 10px;
    overflow: hidden;
    z-index: 2;
    height: 60px;
    transition: height 0.3s ease;
}


.homeDivP:hover .homeDiv1 {
    height: 130px; 
}

.homeNom {
    font-size: 18px;
    font-weight: bold;
    margin-left: 0%;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}

.homeDescription {
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 0 10px;
    margin-top: 10px;
    max-height: 0;
    overflow: hidden;
}


.homeDivP:hover .homeDescription {
    max-height: 100px;
    opacity: 1;
}

.homeDescription p {
    font-size: 14px;
    color: #929298;
    line-height: 1.4;
    margin: 0;
    margin-left: -4%;
    margin-bottom: 0;
    font-family: "Outfit";
    font-weight: 100;
}

.homeDiv2 {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    position: absolute;
    bottom: 10px;
    right: 0;
    padding-right: 8%;
}

.homeContent {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.homeP1 {
    font-size: 14px;
    color: gray;
}

.homePrix {
    font-weight: bold;
    margin: 0 20px 0 8px;
}

.homeIcon {
    color: white;
    background-color: #C7102E;
    padding: 10px;
    border-radius: 5px;
    margin-right: 3%;
    transition: background-color 0.3s ease;
}

.homeIcon:hover {
    background-color: #bea763;
}