@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
.navDiv{
    display: flex;
    align-items: center;
    background-color: #C7102E;
    color: white;
    justify-content: space-around;
    font-family: "Nunito Sans";
    font-weight: 100;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.navDiv1{
    display: flex;
    gap: 70px;
    cursor: pointer;
    margin-left: -50px;
    position: relative;
}
.navDiv1::after{
    content: "";
    width: 35px;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 13%;
    left: 35.1%;
}
.navDiv2{
    display: flex;
    align-items: center;
    gap: 5px;
}
.imgNav{
    width: 180px;
    height: 50px;
    cursor: pointer;
}
.navDiv2P1{
    border: 1px dashed white;
    border-radius: 20px;
    padding: 10px 10px;
    margin-right: 10px;
    cursor: pointer;
}
.navDiv2Icon{
    cursor: pointer;
}
@media (max-width:768px) {
    .navDiv{
        position: relative;
        justify-content: space-between;
        height: 130px;
        margin: 0;
        width: 100vw;
    }
    .navDiv1{
        position: absolute;
        top: 60px;
        width: 100%;
        gap: 10px;
        justify-content: center;
        margin-left: 3%;
    }
    .navDiv1::after{
        content: "";
        width: 33px;
        height: 3px;
        background-color: white;
        position: absolute;
        bottom: 13%;
        left: 36.2%;
    }
    .imgNav{
        margin-top: -10%;
    }
    .navDiv2{
        margin-top: -10%;
        margin-right: 3%;
    }
}